@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-fonts {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* part-1 */

.display-flex {
    display: flex;

}

.navbar {
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;

}

.nav-links {
    text-decoration: none;
    align-items: center;

}

.nav-link {
    text-decoration: none;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-items {
    list-style: none;
    margin-right: 30px;
}

.text-grey {
    color: #8987A1;
}

.light-dark {
    color: #252432
}

.dark {
    color: #000000;
}

.banner {
    display: flex;
    justify-content: space-between;
    margin: 221px 150px 120px 150px;
}

.contain {
    color: #000000;
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 0%;
}

.font {
    color: #8987A1;
    font-size: 22px;
    font-weight: 200;

}

#color {
    color: #E95A08;
}

@media screen (max-width:576px) {
    .navbar {}

    .img {
        grid-template-columns: repeat(1 1fr);
    }
}


/* part-2 */
.plants {
    text-align: center;
    max-width: 1140px;
    margin: 0 auto;
}

.section-title {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 0%;
}

.name {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    gap: 20px;
}

.CART {
    background-color: #E95A08;
    width: 270px;
    height: 50px;
    color: white;
    padding: 19px 19px;
    font-weight: 600;
    font-size: 16px;
    border: none;

}

.number {
    font-weight: 700;
    font-size: 16px;
}

.lily {
    font-weight: 500;
    font-size: 20px;
}

@media screen and (max-width:576px) {
    .name {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:577px) and (max-width:1140px) {
    .name {
        grid-template-columns: repeat(4, 1fr);

    }
}

/* part-3 */
.features {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    padding: 20px;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 210px;
}

.image-wrapper {
    position: relative;
    display: inline-block;

}

.picture {
    width: 100%;


}


.badge {
    position: absolute;
    top: -110px;
    right: -100px;
    width: 286px;
    height: 286px;
    display: block;
}

.loves {
    font-weight: 700;
    font-size: 50px;

}

.shop {
    color: #8987A1;
    font-size: 22px;
    font-weight: 200;

}

@media screen and (max-width:576px) {
    .features {
        flex-direction: column;

        .badge {
            display: none;
        }

    }
}

@media screen and (min-width:577px) and (max-width:1140px) {
    .features {
        flex-direction: column;

        .badge {
            display: none;
        }

    }
}

/* part-4 */

.Latest {
    padding: 40px 20px;
    text-align: center;

}

.deals {
    font-weight: 700;
    font-size: 50px;
}

.new {
    color: #E95A08;
}

.font {
    font-size: 20px;
    font-weight: 200;
    color: #8987A1;
    margin-bottom: 120px;
}

.new-box {
    display: flex;
    justify-content: center;
    gap: 28px;
    flex-wrap: wrap;
}

.left-column {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 12px;

}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 12px;
}

.card-small {
    width: 367px;
    height: 201px;
}

.card-large {
    width: 753px;
    height: 423px;
}

.overlay {
    position: absolute;
    bottom: 30px;
    left: 20px;
    color: white;
    z-index: 1;
}

.overlay h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.overlay a {
    font-size: 14px;
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

@media screen and(max-width:576px) {

    .new-box {
        flex-direction: column;
    }
}

@media screen and (min-width:577px) and (max-width:1140px) {
    .new-box {
        flex-direction: column;

    }
}

/* part-5 */
.null {
    background-image: url(../assets/news-letter-bg.png);
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    text-align: center;
    margin: 0 auto;
    color: white;
    max-width: 1440px;
    background-color: rgba(7, 51, 79, 0.4);
}

.subscribe-form {
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;

}

.long {
    font-weight: 700;
    font-size: 50px;
}

.emails {
    width: 644px;
    height: 50px;
    color: #000000;
    outline: none;

}

.submits {
    width: 186px;
    color: #FFFFFF;
    background-color: #E95A08;
    border: none;
    padding: 19px 53px;

}

@media screen and (max-width:576px) {

    .secclass,
    .form,
    .input:focus {
        flex-direction: row;
    }

}

@media screen and (min-width:577px) and (max-width:1000px) {

    .secclass,
    .form,
    .input:focus {
        flex-direction: column;
    }

}

/* part-6 */
.footer {
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;

}

.footer-section {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px 160px;


}

.footer-links ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 30px;
    list-style: none;
    padding: 0;
}

.footer-links li a {
    display: flex;
    text-decoration: none;
    font-weight: 400;
    height: 24px;
    color: rgba(0, 0, 0, 0.25);

}

.footer-social {
    display: flex;
    gap: 16px;
    margin-top: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
}

@media screen and (max-width:576px) {
    .footer-links ul {
        flex-direction: column;

    }
}